.nav {
  padding: 0.5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.nav ul li {
  padding: 0;
  margin: 1rem;
}
